.h5p-codequestion {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.h5p-codequestion pre > code {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}


.h5p-codequestion .testcases-area h3 {
    padding: 0px;
    font-size:16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 2px;
}

.h5p-codequestion .table-testcase {
    width: 100%;
    border-collapse: collapse;
}

.h5p-codequestion td {
    text-align: center;
    padding: 3px;
}

.h5p-codequestion .table-testcase {
  width: 100%;
  border-collapse: collapse;
}

.h5p-codequestion .table-testcase td th {
  border: 1px solid lightgray;
}

.h5p-codequestion .table-testcase tr :nth-child(odd) {
  background-color: #f5f5f5; /* hellgrau als Absetzung */
}

.h5p-codequestion .table-testcase tr :nth-child(even) {
  background-color: #fff; /* hellgrau als Absetzung */
}

.h5p-codequestion .table-testcase thead {
    font-weight: bold;
}

.h5p-codequestion .table-testcase thead tr {
    border: 1px solid lightgray;
}

.h5p-codequestion .table-testcase tbody tr {
    border: 1px solid lightgray;
    font-family: monospace;
}

.h5p-codequestion .table-testcase tr.test-passed td {
    background-color: rgb(50, 161, 106);
    color: white;
}

.h5p-codequestion .page-canvas {
    padding: 5px 5px 10px 5px;
}

.h5p-codequestion .content-part {
    margin-bottom: 10px;
}

.h5p-codequestion .content-part img {
    max-width: 100%;
}

.h5p-codequestion .page-instructions {
    padding: 10px;
    background-color: #444;
    color: white;
    max-height: 600px;
    overflow: auto;
}

.h5p-codequestion .instructions img {
    box-shadow: 2px 2px 4px black;
    border-radius: 4px;
}

.h5p-codequestion .hidden {
    display: none !important;
}

.h5p-codequestion .instructions table {
    border: 1px solid #eee;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.h5p-codequestion .instructions table td {
    text-align: center;
    padding: 3px;
    border: 1px solid gray;
    background-color: #eee;
    color: #333;
}

.h5p-fullscreen .h5p-codequestion .content > .instructions {
    display: none;
}


.h5p-fullscreen .h5p-codequestion .content-part {
    display: none;
}


.h5p-fullscreen .h5p-codequestion {
    background-color: #222;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%
}